@import "./.shared.constants.less";

header {
    padding-bottom: 2rem;
}

#page-content {
    gap: 2rem;
    h1 {
        padding: 0;
    }
    align-items: stretch;
}

#rpc-selector, #results {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    .rpc > label, .result {
        padding: 0.5rem 0.2rem;
        border-radius: 4px;
        &:hover {
            background-color: @color-blue-6;
        }
    }
}

#rpc-selector {
    .rpc {
        *:hover {
            cursor: pointer;
        }
        label {
            display: inline-block;
            input[type=checkbox] {
                margin-right: 0.5rem;
            }
        }
    }
}

#results {
    .result {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        .endpoint {
            flex: 1 1 auto;
            word-break: break-all;
            text-align: left;
        }
        .latency {
            flex: 0 0 10%;
            text-align: right;
            font-family: @font-mono;
        }
        &.header {
            * {
                font-family: @font-mono;
                font-weight: 900;
                text-decoration: underline;
                padding-bottom: 0.2rem;
            }
            &:hover {
                background-color: unset;
            }
        }
    }
    &.running * {
        color: rgb(170, 170, 170);
    }
}

.rainbow.running {
    color: rgb(150, 150, 150);
    background: none;
    -webkit-text-fill-color: unset;
}
