@import "./.shared.constants.less";

header {
    padding-bottom: 2rem;
}

#page-content {
    gap: 1.5rem;
    h1 {
        padding: 0;
    }
}

#rpc-selector, #results {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#rpc-selector {
    .rpc {
        *:hover {
            cursor: pointer;
        }
        input[type=checkbox] {
            margin-right: 0.5rem;
        }
    }
}

#results {
    .result {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        text-align: left;
        .endpoint {
            word-break: break-all;
        }
        .latency {
            font-family: @font-mono;
        }
    }
    &.running * {
        color: rgb(170, 170, 170);
    }
}

.rainbow.running {
    color: rgb(150, 150, 150);
    background: none;
    -webkit-text-fill-color: unset;
}
