// === imports ===

@import "normalize.css";

// === constants ===

:root {
    --nav-bar-height: 62px;
}

@border-gray: 1px solid @color-border-gray;
@border-radius: 1.5rem;
@color-bg: rgb(10 12 14);
// @color-bg: rgb(28 28 28); // brownie
@color-blue-light: #acf3f2;
@color-blue: #00fffc;
@color-border-gray: rgb(138 145 158 / 15%);
// @color-border-gray: #444; // brownie
@color-card-bg: rgb(20 22 24);
// @color-card-bg: rgb(38 38 39); //brownie
@color-subcard-bg: rgb(4 30 40);
// @color-subcard-bg: rgb(33 33 33); // brownie
@color-text-gray: #aaa;
@color-text-green: lightgreen;
@color-text-orange: rgb(255 190 71);
@color-text-red: rgb(255, 158, 158);
@color-text: rgb(225 225 225);
// @color-text: rgb(219 219 219); // brownie
@font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
@font-system: system-ui, sans-serif;
@max-width-page-regular: 1440px;
@screen-large: 1100px;
@screen-medium: 700px;
@screen-small: 420px;

// === resets ===

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: @font-mono;
    color: @color-text;
    text-decoration: none;
}

body {
    background-color: @color-bg;
}

h1, h2, h3, h4, h5, button, input {
    padding: 0;
    margin: 0;
}

// === utility classes ===

.address { .break-all; }
.break-all { word-break: break-all; }
.break-any { overflow-wrap: anywhere; }
.nowrap { white-space: nowrap; }
.center-element { margin: 0 auto; }
.center-text { text-align: center; }
.cursor-pointer { cursor: pointer; }
.success { .break-any; .text-green; }
.text-green { color: @color-text-green; }
.text-orange { color: @color-text-orange; }
.text-red { color: @color-text-red; }

.error {
    .break-any;
    color: @color-text-red;
}

.rounded {
    padding: 0.67em 1.1em;
    border-radius: 0.5em;
}

.icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: @color-text;
    &:hover {
        fill: @color-blue;
        cursor: pointer;
    }
    &.item-chosen {
        fill: rgb(0 255 0);
    }
    &.item-verified {
        fill: #eac742;
    }
}

.hide-scrollbar {
    scrollbar-width: none;  // Firefox
    -ms-overflow-style: none;  // Internet Explorer 10+
    &::-webkit-scrollbar { // WebKit browsers (Chrome, Safari, newer versions of Opera)
        display: none;
    }
}

.spinner(@size: 1.2em, @border-width: 0.17em, @color: @btn-white) {
    position: relative;
    color: transparent;
    pointer-events: none;

    &::after {
        content: '';
        position: absolute;
        left: calc(50% - @size/2 - @border-width);
        top: calc(50% - @size/2 - @border-width);
        width: @size;
        height: @size;
        border: @border-width solid @color;
        border-radius: 50%;
        border-top-color: transparent;
        animation: spin 0.8s linear infinite;
    }
}

// === layout ===

body.modal-open {
    overflow: hidden;
}

#layout {
    &.disabled {
        opacity: 0.6;
        cursor: wait;
        pointer-events: none;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem 2.5rem;
    padding: 0 1rem*1.25;
    height: var(--nav-bar-height);
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: sticky;
    top: 0;
    left: 0;
    user-select: none;
    background-color: @color-bg;
    border-bottom: 1px solid @color-border-gray;
    z-index: 1;
    .header-item {
        &:first-child {
            flex-grow: 1;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 0.02em;
            position: relative;
        }
        display: inline-block;
    }
    .header-network-label {
        position: absolute;
        margin-left: 0.3rem;
        font-size: 0.5em;
        color: yellow;
        text-transform: uppercase;
    }
}

footer {
    padding: 3em 0 2em;
    display: flex;
    justify-content: space-between;
}

.page-regular {
    max-width: @max-width-page-regular;
    margin: 0 auto;
    padding: 2rem 2rem 8rem;
    .page-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .page-title {
            font-size: 2rem;
            font-weight: bold;
            margin: 0 auto;
            text-align: center;
            &:first-of-type {
                padding-top: 1rem;
            }
        }
        .page-section {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1.5rem;
            gap: 1.75rem;
            .section-title {
                color: white;
                font-size: 1.75em;
                font-weight: bold;
                padding: 0 0.25rem;
            }
            .section-description {
                padding: 0 0.25rem;
            }
        }
    }
    @media (max-width: @screen-medium) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@color-bg-red: #cb3333;
@color-bg-purple: #623cb9;
@color-bg-green: #2e982e;
@color-bg-blue: #2962ff;

.small-screen-header-styles() {
    flex-direction: column-reverse;

    .auction-header-info, .card-toggle {
        width: 100%;
        justify-content: space-between;
    }

    .card-toggle {
        justify-content: center;
    }
}

.section-header, .card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 1.5rem;

    &.column-on-small {
        @media (max-width: @screen-small) {
            .small-screen-header-styles();
        }
    }

    .flex-grid & {
        .small-screen-header-styles();
    }

    .auction-header-info, .card-toggle {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .card-toggle {
        .header-label {
            border: @border-gray;
            cursor: pointer;
            &.selected {
                cursor: default;
            }
            &.selected, &:hover {
                background-color: @color-bg-blue;
                border-color: @color-bg-blue;
                color: white;
            }
        }
    }

    .header-label {
        text-align: center;
        padding: 0.3em 0.6em;
        font-size: 0.9em;
        color: #bbb;
        background-color: @color-border-gray;
        border-radius: @border-radius;
        font-weight: bold;
        white-space: nowrap;

        &.canceled {
            background-color: @color-bg-red;
            color: white;
        }
        &.live {
            background-color: @color-bg-green;
            color: white;
        }
        &.top-bid {
            color: @color-text;
        }
        &.empty {
            visibility: hidden;
        }
    }
}

.page-description, .section-title, .section-description, .card-title, .card-desc {
    .break-any;
}

.page-description, .section-description, .card-desc {
    line-height: 1.35em;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.page-description, .section-description, .card-desc {
    width: 100%;
}

.page-description {
    .center-text;
}

.page-description, .section-description, .card-desc, .card {
    a:not(.btn) {
        color: @color-blue-light;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.tabs-container {
    width: 100%;
    .tabs-header {
        display: flex;
        flex-direction: row;
        gap: 1rem 2.5rem;
        flex-wrap: wrap;
        padding: 1rem 0.25rem 0;
        width: 100%;
        font-size: 1.1em;
        line-height: 1em;
        justify-content: center;
        @media (max-width: @screen-small) {
            column-gap: 0;
            justify-content: space-around;
        }
        .tab-title {
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            .tab-text {
                border-bottom: 2px solid transparent;
            }
            &.selected {
                .tab-text {
                    color: @color-blue;
                    border-bottom: 2px solid @color-blue;
                }
                .tab-icon svg {
                    fill: @color-blue;
                }
            }
        }
    }
    .tabs-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 1.5rem;
    }
}

.grid, .flex-grid {
    gap: 2rem;
    .card.grid-item {
        padding: 1.5rem;
    }
    @media (max-width: @screen-large) {
        gap: 1.5rem;
        .card.grid-item {
            padding: 1.5rem;
        }
    }

    .card.grid-item {
        &:hover {
            cursor: pointer;
            background-color: @color-border-gray;
        }
        &.chosen {
            border-color: rgb(0 255 0 / 50%);
        }
        .item {
            .icon.item-chosen, .icon.item-verified {
                position: absolute;
                top: -4%;
                right: -4%;
                height: 18%;
                width: 18%;
                max-width: 55px;
                max-height: 55px;
            }
        }
    }
}

.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .card {
        flex: 1 1 280px; // grow, shrink, basis
        .card-title, .more-items {
            text-align: center;
            align-self: center;
        }
    }

    .filler-card {
        height: 0;
        padding: 0;
        margin: 0;
        visibility: hidden;
    }

    // compensate for the extra gap added by stacked .filler-card's
    @media (max-width: 599px) {
        margin-bottom: -4rem;
    }
    @media (min-width: 600px) {
        margin-bottom: -3rem;
    }
    @media (min-width: 952px) {
        margin-bottom: -2rem;
    }
    @media (min-width: 1280px) {
        margin-bottom: -1rem;
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: @screen-large) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: @screen-medium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: @screen-small) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-selector {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.flex-grid, .grid, .card-list {
    &.loading {
        opacity: 0.4;
        cursor: wait;
        * {
            pointer-events: none;
        }
    }
}

// === cards ===

.card-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.card {
    background-color: @color-card-bg;
    border-radius: @border-radius;
    border: @border-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    @media (max-width: @screen-medium) {
        padding: 1.5rem;
    }
    .card-title {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 1.2em;
        .icon {
            &:hover {
                cursor: default;
                fill: @color-text;
            }
        }
    }
    &.disabled {
        opacity: 0.4;
        background-color: #333;
        cursor: default;
        pointer-events: none;
    }
}

.card.subcard {
    background-color: @color-subcard-bg;
}

.card-spinner {
    .spinner();
}

.item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    position: relative;

    .item-img {
        position: relative;
        width: 100%;
        padding-top: 50%; // creates a 1:1 aspect ratio even when the image src is broken
        padding-bottom: 50%; // creates a 1:1 aspect ratio even when the image src is broken
        text-align: center;
        border-radius: 5%;
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .item-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        .item-button {
            .btn {
                width: 100%;
            }
        }
    }
}

.item, .chosen-item {
    .item-img {

        img {
            width: 100%;
            height: 100%;
            border-radius: 5%;
            object-fit: cover;
            background-color: @color-bg;
            &.no-image {
                background-color: #999;
            }
        }
    }
}

.slim-list {
    margin: 0 auto;
    width: 100%;
}

.card.slim {
    padding: 1.5rem;
    gap: 1rem;
    .card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        @media (max-width: @screen-small) {
            flex-direction: column;
        }
    }
    &.tx-create, &.tx-finalize {
        border-left: 2px solid #4CAF50;
    }
    &.tx-bid {
        border-left: 2px solid #9C27B0;
        border-left: 2px solid #2196F3;
    }
    &.tx-cancel {
        border-left: 2px solid #F44336;
    }
    &.tx-set-pay-addr {
        border-left: 2px solid #FF9800;
    }
    .card-title {
        font-size: 1.2em;
    }
}

.card.compact {
    max-width: 550px;
    margin: 0 auto;
}

a.card, .card.link {
    &:hover {
        cursor: pointer;
        background-color: @color-border-gray;
    }
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 0 auto;
    width: 100%;
    @media (max-width: @screen-medium) {
        max-width: 100%;
    }

    .detail {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0;
        gap: 1rem;
        align-items: flex-start;
        &.verified {
            align-items: center;
        }

        .label {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: bold;
            color: @color-text-gray;
            flex-shrink: 0;
        }

        .value {
            display: flex;
            align-items: center;
            text-align: right;
            gap: 0.5rem;
            .icon {
                flex-shrink: 0;
            }
        }

        @media (max-width: @screen-medium) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;
            &.verified {
                align-items: flex-start;
            }
            .value {
                text-align: left;
            }
        }
    }
}

// === various components ===

.form-flex {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.form {
    .form-flex;
    margin: 0 auto;
    width: 100%;
    @media (max-width: @screen-medium) {
        width: 100%;
    }
    .form-section {
        .form-flex;
        .section-toggle {
            cursor: pointer;
            user-select: none;
        }
    }
    .chosen-items {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .card-list {
            gap: 0.5rem;
            .chosen-item {
                display: flex;
                gap: 1rem;
                flex-direction: row;
                align-items: center;
                .item-img {
                    img {
                        border: @border-gray;
                        height: 40px;
                        width: 40px;
                    };
                }
                &:hover {
                    cursor: pointer;
                    .item-title {
                        color: @color-text-red;
                    }
                }
            }
        }
    }
}

@btn-blue: rgb(0, 130, 200);
@btn-red: rgb(186, 36, 36);
@btn-white: white;
.btn {
    .rounded;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    &, * { color: @btn-white; }
    background-color: @btn-blue;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    user-select: none;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        &, * { color: @btn-blue; }
        background-color: @btn-white;
    }
    &.red {
        &, * { color: @btn-white; }
        background-color: @btn-red;
        &:hover {
            &, * { color: @btn-red; }
            background-color: @btn-white;
        }
    }
    &:disabled, &.working, &.disabled {
        &, * { color: #ddd; }
        background-color: gray;
        cursor: default;
        pointer-events: none;
    }
    &.working {
        .spinner(1.1em);
    }
}

.btn-submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.btn-prev-next {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

@input-bg: rgb(51 53 61);
@input-hover-bg: rgb(59 61 69);
@input-focus-border-color: rgb(87 139 250);
@input-disabled-text-color: #666;
@input-placeholder-text-color: #777;
.poly-input {
    display: flex;
    flex-direction: column;
    gap: 0.55em;
    .input-error {
        .break-any;
        color: @color-text-red;
    }
    .input {
        .rounded;
        border-radius: 0.8em;
        background-color: @input-bg;
        color: @color-text;
        &:hover {
            background-color: @input-hover-bg;
            cursor: pointer;
        }
        &.error {
            outline: 2px solid @color-text-red;
        }
        &:focus {
            outline: 2px solid @input-focus-border-color;
        }
        &:disabled {
            background-color: #222;
            color: @input-disabled-text-color;
            cursor: default;
            pointer-events: none;
        }
        &::placeholder {
            color: @input-placeholder-text-color;
            opacity: 1;
        }

        &:is(textarea) {
            padding: 0.8em 0.9em;
        }

        &:is(select) {
            appearance: none;
            padding-right: 2.7em !important;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23eee' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 0.8em center;
            background-size: 1.2em;
            &:invalid {
                color: @input-placeholder-text-color;
            }
        }
    }
}

.poly-radio-selector {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .break-any;
    .selector-label {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        &, * {
            cursor: pointer;
        }
    }
    &.poly-network-radio-selector {
        text-transform: uppercase;
        text-transform: capitalize;
    }
}

.poly-coin-radio-selector {
    .rounded;
    flex-direction: row;
    justify-content: center;
    gap: 1rem 2rem;
    border-color: @input-bg;
    flex-wrap: wrap;

    .selector-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75em;
        .selector-text {
            display: flex;
            flex-direction: row;
            align-items: center;
            img, svg {
                border-radius: 50%;
            }
        }
        &:hover {
            .selector-text {
                color: @color-text-green;
            }
        }
    }

    .selector-radio {
        appearance: none;
        width: 1.25em;
        height: 1.25em;
        border: 0.125em solid @color-border-gray;
        border-radius: 50%;
        cursor: pointer;
        position: relative;

        &:checked {
            border-color: @color-text-green;

            &::after {
                content: '';
                width: 0.75em;
                height: 0.75em;
                background-color: @color-text-green;
                border-radius: 50%;
                position: absolute;
                inset: 0;
                margin: auto;
            }

            & + .selector-text {
                color: @color-text-green;
            }
        }

        &:hover {
            border-color: @color-text-green;
        }
    }
}

#btn-network {
    padding: 0;
    text-transform: uppercase;
    .network-option {
        .text {
            display: block;
        }
        &:not(.selected) {
            .text {
                &:hover {
                    color: @btn-white;
                }
            }
        }
    }
    .network-options {
        position: absolute;
    }
}

.full-screen-msg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    z-index: -1;
    .msg {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }
}

.full-card-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    .msg {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.poly-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem;

    @media (max-width: @screen-medium) {
        padding: 1rem;
    }
    @media (max-width: @screen-small) {
        padding: 0.5rem;
    }

    .card.poly-modal-content {
        position: relative;
        width: min(700px, 100%);
        max-height: calc(100dvh - 4rem);
        background: linear-gradient(135deg, #2a2a2a, #1a1a1a);
        color: @color-text;
        border: none;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: column;

        .poly-modal-close {
            position: absolute;
            cursor: pointer;
            top: 1rem;
            right: 1rem;
            height: 3.5rem;
            width: 3.5rem;
            .icon-close-bg {
                fill: #454545;
            }
            .icon-close-x {
                stroke: @color-text;
            }
            &:hover {
                .icon-close-bg {
                    fill: @color-text;
                }
                .icon-close-x {
                    stroke: #454545;
                }
            }
            @media (max-width: @screen-medium) {
                top: 0.5rem;
                right: 0.5rem;
            }
        }

        .poly-modal-scrollable-content {
            overflow-y: auto;
            .hide-scrollbar;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }

    // modal animation

    .card.poly-modal-content {
        animation: modalFadeIn 0.1s ease-in-out forwards;
    }
    @keyframes modalFadeIn {
        from { transform: scale(0.95); }
        to { transform: scale(1); }
    }
}

.hero-banner {
    max-width: @max-width-page-regular;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 4.5rem 2.5rem;
    @media (max-width: @screen-medium) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    border-bottom: 1px solid @color-border-gray;
    background: linear-gradient(
        to right,
      fade(@color-card-bg, 0%),
      fade(@color-card-bg, 100%),
      fade(@color-card-bg, 0%)
    );
    .glitch, .glitch span {
        font-size: 4rem;
        font-weight: bold;
        letter-spacing: 0.05em;
    }
    .hero-description {
        padding: 1rem 0;
        line-height: 1.35em;
    }
}
.dev-open-graph {
    padding: 2rem;
    .hero-banner {
        height: 600px;
        width: 1200px;
        border-radius: 0;
        .glitch, .glitch span {
            font-size: 11rem;
            animation-play-state: paused;
        }
        .hero-subtitle {
            font-size: 2rem;
        }
        .hero-description, .hero-actions {
            display: none;
        }
    }
}

.display-demo {
    // border: 1px solid grey;
    // border-radius: 50%;
    border-radius: 5%;
}

// === specific pages ===

#page-user {
    .tabs-container {
        max-width: 800px;
        margin: 0 auto;
    }
}

// === animations ===

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

// === glitch ===

.glitch {
    display: inline-block;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
    user-select: none;
    color: white;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

@keyframes glitch {
    0% { text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00; }
    15% { text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00; }
    16% { text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00; }
    49% { text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00; }
    50% { text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00; }
    99% { text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00; }
    100% { text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00; }
}
